h1{
    font-size: 20px;
}
/* 
@media (max-width:900px) {

    h1{
        font-size: 60px;
        color: blue;
    }
} */


@media (min-width:900px) and (max-width:1000px) {

    h1{
        font-size: 60px;
        color: blue;
    }
}